body{
    margin: 0;
        font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: darkblue;
}
.name
{
    color: white;
}
section{
    scroll-margin-top: 85px;
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 107);
    color: white;
    padding: 15px 30px;
   
   justify-content: space-evenly;
   position: sticky;
   top: 0;


}
.link a{
    color: rgb(242, 213, 247);
    margin-left: 20px;
    text-decoration: none;
}
.link a:hover{
    color: violet;
}
.info
{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
background: #e1e8ef;   
 color: black;
}

footer{
    background: #000;
    padding: 20px;
    color: white;
}